[data-finder-box] {
  padding: 1rem;
  border: 1px solid #ddd;
}
[data-finder-box] .ax-finder-logo {
  padding-right: 6rem;
  font-size: 1.8rem;
  height: 3rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}
