[submodule "includes/themes/cube.theme"]
	path = includes/themes/cube.theme
	url = https://github.com/LaxarJS/cube.theme.git
[submodule "includes/lib/laxar-testing"]
	path = includes/lib/laxar-testing
	url = https://github.com/LaxarJS/laxar-testing.git
