$app-laxarjs-logo: "../images/laxarjs-logo.svg";
$app-pot-flower: "../images/pot-flower.svg";
$headline-background: rgb(248, 248, 248);

.app-header {
   height: 60px;
   padding-top: 27px;
   padding-bottom: 27px;

   h1 {
      text-align: right;
   }
}

.app-equal-col-height {

   @media (min-width: $screen-md-min) {
      display: flex;
   }
   // align-items: stretch;

   > .col:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: ($grid-gutter-width / 2);
      right: ($grid-gutter-width / 2);
      box-shadow: 0 0 0 1px #ddd;

      background-clip: padding-box;
      background-image: linear-gradient(160grad, white 5%, rgb(240, 240, 240) 50%,rgba(255,255,255,0) 90%),
                        linear-gradient( $headline-background, $headline-background 6rem, rgb(248, 248, 248) 6rem);
      background-size: 100% 6rem, 100% 100%;
      background-repeat: no-repeat;
   }

   &:first-child {

      > .col:first-child:before {
         @media (max-width: $screen-md-min) {
            border-top-right-radius: 2.5em;
         }
      }

      > .col:last-child:before {
         @media (min-width: $screen-md-min) {
            border-top-right-radius: 2.5em;
         }
      }
   }
}

.app-footer {
   margin-top: 1em;
}

.app-logo {
   display: block;
   width: 229px;
   height: 60px;
   background: url( $app-laxarjs-logo ) no-repeat;
   background-size: contain;
}

.app-flower {
   margin: 3em 0;
   background-image: url( $app-pot-flower );
   background-repeat: no-repeat;
   background-position: center right;
   background-size: contain;

   @media (max-width: $screen-sm-max) {
      margin: 0;
      background-position: center;
      height: 200px;
   }
}

.app-version {
   text-align: right;

   @media (max-width: $screen-md-min) {
      text-align: left;
   }
}

.row + .row {
   margin-top: 2em;
}

@media (max-width: $screen-md-min) {
   .app-content .col + .col {
      margin-top: 2em;
   }
}