
h1, h2 {
   font-weight: 200;
}

h2 {
   color: $COLOR_EMPEROR;
   margin-top: 5rem;
}


h3, h4 {
   color: $COLOR_EMPEROR;
   font-weight: 300;
}

em {
   color: $PRIMARY_COLOR_ORANGE;
   font-family: $ax-font-family-effect;
   font-weight: 500;
   font-style: normal;
}

