//
// Define Theme Color Scheme
// ===========================================================================================================

$PRIMARY_COLOR_ORANGE:  #ff9900;
$PRIMARY_COLOR_GREY_01: #8c8c8c;
$PRIMARY_COLOR_GREY_02: #737373;



// http://chir.ag/projects/name-that-color/
$COLOR_SILVER: #ccc;
$COLOR_SILVER_CHALICE: #bbb;
$COLOR_EMPEROR: #555;


$COLOR_BOSTON_BLUE: #428bca;
$COLOR_VIKING: #5bc0de;
$COLOR_FERN: #5cb85c;
$COLOR_GOLDEN_TAINOI: #ffce54;
$COLOR_MANDY: #ed5565;
