<div data-finder-box
     data-ng-switch="functions.state()">

   <h3 class="ax-function-point ax-finder-logo">Open Street Map</h3>

   <div data-ng-switch-when="SELECTED">
      <div class="row">
         <div class="col-md-12">
            <select title="{{ model.selectedLocation.display_name }}"
                    class="form-control"
                    data-ng-if="resources.locations.length > 1"
                    data-ng-model="model.selectedLocation"
                    data-ng-options="location as location.display_name for location in resources.locations"></select>
            <h4 data-ng-if="model.results.length === 1">{{ model.selectedLocation.display_name }}</h4>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12"
              data-open-street-map-widget-map="model.selectedLocation"></div>
      </div>
   </div>

   <div class="ax-alert" data-ng-switch-when="SEARCHING">
      <p class="ax-alert__text ax-spinner" >
         <i class="spinner"></i>{{ messages.SEARCHING | axLocalize:i18n }}
      </p>
   </div>

   <div class="ax-alert" data-ng-switch-when="IDLE">
      <p class="ax-alert__text" >
          <i class="fa fa-search ax-alert__icon"></i>{{ messages.NO_SEARCH_STARTED | axLocalize:i18n }}
      </p>
   </div>

   <div class="ax-alert" data-ng-switch-when="NO_RESULTS">
      <p class="ax-alert__text text-danger" >
         <i class="fa fa-exclamation-triangle ax-alert__icon"></i>{{ messages.NO_RESULTS | axLocalize:i18n }}
      </p>
   </div>

</div>