@charset "UTF-8";

@import "variables_all";

@font-face {
   font-family:'MeteoconsRegular';

   /* IE < 9
      The two src data are needed to circumvent a bug in IE for the rendering of the text.
      IE9+ supports the type format *.woff. */
   src: url('../fonts/meteocons-webfont.eot'); /* IE9 Compat Modes */
   src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
   src: url('../fonts/meteocons-webfont.svg?#svgFontName') format('svg'), /* Windows Chrome */
   url('../fonts/meteocons-webfont.woff') format('woff'), /* Modern Browsers */
   url('../fonts/meteocons-webfont.ttf') format('truetype'); /* Safari, Android, iOS */

   /* To avoid a bug in Webkit-Browsers set all font-* properties to normal. */
   font-weight: normal;
   font-style: normal;
   font-variant: normal;
}

.open-weather-map-widget {

   .ax-finder-logo {
      background-image: url( "../images/logo.png" );
   }

   .ax-alert {
      color: #aaa;
      font-family: "Exo 2", Arial, sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      min-height: 6rem;
      position: relative;
   }

   .ax-alert__text {
      position: absolute;
      top: 0.6rem;
      padding-left: 2.5rem;

      &.text-danger {
         color: #d3201d;
      }
   }

   .ax-alert__icon {
      font-size: 1.5rem;
      width: 1.5rem;
      left: 0;
      position: absolute;
   }

   .ax-spinner {
      color: #03ade0;
   }

   .spinner:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: -0.85rem;
   }

   .spinner:not(:required):before {
      content: '';
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: #03ade0;
      border-bottom-color: #03ade0;
      animation: spinner .8s ease infinite;
      -webkit-animation: spinner .8s ease infinite;
   }

   .weather-icon:before {
      font-family: 'MeteoconsRegular';
      content: attr(data-weather-icon);
   }

   .weather-icon.large:before {
      font-size: 3em;
   }

}