<div data-finder-box
     data-ng-switch="functions.state()">

   <h3 class="ax-function-point ax-finder-logo">Wikipedia</h3>

   <div data-ng-switch-when="SELECTED">
      <div class="row">
         <select title="{{ model.selectedArticle.title }}"
           class="form-control"
           data-ng-if="model.results.length > 1"
           data-ng-model="model.selectedArticle"
           data-ng-options="article as article.title for article in model.results"></select>
      </div>
      <div class="row">
         <div class="col-md-12">
            <a target="_blank"
               data-ng-if="model.selectedArticleImage"
               data-ng-href="{{ model.selectedArticleImage }}"
               ><img class="ax-result-image"
                     data-ng-src="{{ model.selectedArticleImage }}">
            </a>
            <p data-ng-bind-html="model.selectedArticleExtract"></p>
         </div>
      </div>

      <a data-ng-href="{{ functions.wikiLink( model.selectedArticle ) }}"
         target="_blank"
         ><i class="fa fa-external-link"></i> {{ messages.EXTERNAL_LINK | axLocalize:i18n }}</a>
   </div>

   <div class="ax-alert" data-ng-switch-when="SEARCHING">
      <p class="ax-alert__text ax-spinner" >
         <i class="spinner"></i>{{ messages.SEARCHING | axLocalize:i18n }}
      </p>
   </div>

   <div class="ax-alert" data-ng-switch-when="IDLE">
      <p class="ax-alert__text" >
          <i class="fa fa-search ax-alert__icon"></i>{{ messages.NO_SEARCH_STARTED | axLocalize:i18n }}
      </p>
   </div>

   <div class="ax-alert" data-ng-switch-when="NO_RESULTS">
      <p class="ax-alert__text text-danger" >
         <i class="fa fa-exclamation-triangle ax-alert__icon"></i>{{ messages.NO_RESULTS | axLocalize:i18n }}
      </p>
   </div>

</div>
