.open-street-map-widget .ax-finder-logo {
  background-image: url("../images/logo.svg");
}
.open-street-map-widget .ax-alert {
  color: #aaa;
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  min-height: 6rem;
  position: relative;
}
.open-street-map-widget .ax-alert__text {
  position: absolute;
  top: 0.6rem;
  padding-left: 2.5rem;
}
.open-street-map-widget .ax-alert__text.text-danger {
  color: #d3201d;
}
.open-street-map-widget .ax-alert__icon {
  font-size: 1.5rem;
  width: 1.5rem;
  left: 0;
  position: absolute;
}
.open-street-map-widget .ax-spinner {
  color: #03ade0;
}
.open-street-map-widget .spinner:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.85rem;
}
.open-street-map-widget .spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #03ade0;
  border-bottom-color: #03ade0;
  animation: spinner .8s ease infinite;
  -webkit-animation: spinner .8s ease infinite;
}
