<div data-ng-switch="functions.state()">

   <h3 class="ax-function-point ax-logo">Music Brainz</h3>
   <div data-ng-switch-when="SELECTED">
      <div class="row">
         <div class="col-md-6">
            <h4>{{ model.selectedArtist.name }}</h4>
         </div>
         <div class="col-md-6">
            <select class="form-control"
                    data-ng-if="model.results.length > 1"
                    data-ng-model="model.selectedArtist"
                    data-ng-options="artist as artist.name for artist in model.results"></select>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="ax-cover-image-wrapper">
               <div data-ng-repeat="releaseGroup in model.selectedArtistReleases track by releaseGroup.id"
                    class="ax-invisible"
                    data-music-brainz-search-widget-cover-visibility
                  >
                  <img class="ax-cover-image"
                       data-ng-src="{{ functions.imageSourceForReleaseGroupCover( releaseGroup ) }}"
                       alt="{{ releaseGroup.title }}"
                       title="{{ releaseGroup.title }}"
                     >
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <table class="table">
               <tbody>
                  <tr>
                     <td>{{ messages.ACTIVE_SINCE | axLocalize:i18n }}:</td>
                     <td>{{ model.selectedArtistActiveSince }}</td>
                  </tr>
                  <tr>
                     <td>{{ messages.ACTIVE_UNTIL | axLocalize:i18n }}:</td>
                     <td data-ng-if="model.selectedArtist.lifeSpanEnd == 'true'">{{ messages.NOT_ACTIVE_ANYMORE | axLocalize:i18n }}</td>
                     <td data-ng-if="model.selectedArtist.lifeSpanEnd == 'false'">{{ messages.STILL_ACTIVE | axLocalize:i18n }}</td>
                  </tr>
                  <tr>
                     <td>{{ messages.AREA | axLocalize:i18n }}:</td>
                     <td>{{ model.selectedArtist.areaName }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>

      <h5>{{ messages.RECORD_RELEASES | axLocalize:i18n }}:</h5>

      <ol>
         <li data-ng-repeat="release in model.selectedArtistReleases">{{ release.title }} ({{ release.firstReleaseYear }})</li>
      </ol>

      <a data-ng-href="{{ model.musicBrainzPrefix }}{{ model.selectedArtist.id | urlEncode }}"
         target="_blank"
         ><i class="fa fa-external-link"></i> {{ messages.EXTERNAL_LINK | axLocalize:i18n }}</a>
   </div>

   <div class="ax-alert" data-ng-switch-when="SEARCHING">
      <p class="ax-alert__text ax-spinner" >
         <i class="spinner"></i>{{ messages.SEARCHING | axLocalize:i18n }}
      </p>
   </div>

   <div class="ax-alert" data-ng-switch-when="IDLE">
      <p class="ax-alert__text" >
          <i class="fa fa-search ax-alert__icon"></i>{{ messages.NO_SEARCH_STARTED | axLocalize:i18n }}
      </p>
   </div>

   <div class="ax-alert" data-ng-switch-when="NO_RESULTS">
      <p class="ax-alert__text text-danger" >
         <i class="fa fa-exclamation-triangle ax-alert__icon"></i>{{ messages.NO_RESULTS | axLocalize:i18n }}
      </p>
   </div>

</div>